.contacts-page {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: black;
}

.contacts-page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.contacts-page > * {
  color: #8F7352;
  font-family: 'Jacques Francois', serif;
  font-size: 1.2rem;
}

.contacts-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addresses, .phone-numbers, .emails {
  margin-bottom: 3rem;
}

.contacts-page h4 {
  margin-bottom: 2rem;
}

.contacts-page p {
  margin-bottom: 1rem;
  text-indent: 2rem;
}

.location-map-container {
  width: 36rem;
  height: 36rem;
}

.location-map {
  width: 100%;
  height: 100%;
}

.contacts-form {
  padding-top: 4rem;
  padding-bottom: 0.1rem;
  background-color: #8F7352;
}

.contacts-page > * {
  font-family: 'Jacques Francois', serif;
  font-size: 1.2rem;
}

.email-form {
  width: 85%;
  margin: 4rem auto;
  background-color: black;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  padding: 4rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-title-line {
  height: 0.3rem;
  width: 30%;
  background-color: black;
}

.email-form label, .email-form input, .email-form textarea {
  color: #8F7352;
  font-size: 1.2rem;
  font-family: 'Jacques Francois', serif;
}

.email-form label, .account-form label {
  margin-bottom: 2rem;
}

.email-form input, .email-form textarea {
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem solid #8F7352;
  font-family: 'Jacques Francois', serif;
  background-color: black;
  margin-bottom: 4rem;
}