.hero-section {
  background-image: url(../../../public/images/hero-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 60rem 4rem rgba(0, 0, 0, 0.25);
}

.container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8rem 0;
}

.btn {
  width: 16rem;
  height: 4rem;
  color: black;
  font-size: 1.2rem;
  border: none;
  background-color: hsl(32, 27%, 44%, 0.95);
  font-family: 'Jacques Francois', serif;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  transition: all 1s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.8);
}

.hero-btn {
  width: 12rem;
  height: 12rem;
}

.appointment-btn {
  margin-bottom: 4rem;
}


.services-section {
  padding-bottom: 8rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(6, auto);
  background-color: black;
}

.service {
  width: 100%;
  display: flex;
}

.service-img {
  width: 50%;
  aspect-ratio: 1/1;
}

.service-img img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.service-info {
  width: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.service-info > * {
  color: #8F7352;
}

.title {
  font-size: 2.4rem;
  font-family: 'Jacques Francois', serif;
}

.service-description {
  width: 65%;
  font-size: 1.2rem;
  font-family: 'Jacques Francois', serif;
}

/* STYLING THE ABOUT SECTION */

.about-section {
  padding-bottom: 8rem;
  background-color: black;
}

.about-container, .contacts-page-container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}

.about-section > * {
  color: #8F7352;
  font-family: 'Jacques Francois', serif;
}

.about-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.title-line {
  height: 0.3rem;
  width: 30%;
  background-color: #8F7352;
}

.about-info {
  font-size: 1.2rem;
}

.about-container > * {
  text-decoration: none;
}
