.profile-section {
  background-color: black;
}

.profile-container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding: 8rem;
}

.profile-container h4, .profile-container p {
  color: #8F7352;
  font-family: 'Jacques Francois', serif;
}

.profile-container p {
  font-size: 1.2rem;
}

.user-btns {
  display: flex;
  gap: 4rem;
}