footer {
  background-color: #8F7352;
  padding: 8rem 0;
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-about {
  width: 30%;
}

.footer-salon-name {
  font-size: 3.6rem;
  margin-bottom: 4rem;
}

.footer-nav, .footer-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.footer-link {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link-first {
  margin-bottom: 1rem;
}

.footer-p, .footer-services a {
  font-size: 1.2rem;
}